.article {
  padding-bottom: 20px;
}

.article-header {
  margin-bottom: 20px;
  padding-top: 20px;
}

.article-headline {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 1;
}

.article-source {
  margin-bottom: 5px;
  line-height: 1;
  font-size: 16px;
  color: #818181;
}

.article-carousel {
  margin-bottom: 10px;
}

.article-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.article-back-button {
  color: #999;
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
}
